.header{
	text-align: center;
	font-family: arial;
	color: #283593;
	font-size: 50px;
}

.cell{
	height: 150px;
	width: 150px;
	background-color: #3f51b5;
	font-family: arial;
	font-size: 66px;
	text-align: center;
	color: #fff;
	font-weight: 900;
	cursor:pointer;
}

.filledX{
	background-color: #283593;
	color: #e91e63;
	cursor:default;
}

.filledO{
	background-color: #283593;
	color: #00e5ff;
	cursor: default;
}

.end-game{
	position: fixed;
	left: 0px;
	top: 0px;
	height:100%;
	width: 100%;
	background-color: rgba(255,255,255,0.7	);
	display: none;
}

.msg{
	display: block;
    margin: 17% auto;
    height: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.msg > h1{
	font-size: 90px;
    font-family: arial;
    color: #283593;
    margin: 0px;
}

.retry{
	padding: 14px;
    background-color: #e91e63;
    color: #fff;
    border: none;
    font-family: arial;
    font-size: 30px;
    margin: 5px;
}
