body{
	background-color: #283593;
}

.header{
	text-align: center;
	font-family: arial;
	color: #fff;
	font-size: 50px;
}

.option-container{
	padding: 2% 20%;
}

.singleplayer, .multiplayer{
	height: 100px;
	width: 300px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	cursor: pointer;
}

.singleplayer:hover, .multiplayer:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}	


.singleplayer >h3, .multiplayer > h3{
	text-align: center;
	color: #fff;
	font-family: arial;
	padding: 30px;
	font-size: 25px;
}

.end-game{
	position: fixed;
	left: 0px;
	top: 0px;
	height:100%;
	width: 100%;
	background-color: rgba(255,255,255,0.7	);
	display: none;
}

.msg{
	display: block;
    margin: 17% auto;
    height: auto;
    width: 80%;
    padding: 10px;
    background-color:#fff;
}

.msg > h1{
	font-size: 20px;
    font-family: arial;
    margin: 5px 10px;
    color: #283593;
}

.shareurl{
	width: 90%;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

.dialog-btn{
	border: none;
    padding: 10px;
    margin: 10px;
    width: 100px;
    color: #fff;
    font-family: arial;
    font-weight: 900;
    cursor:pointer;
}

#start{
	background-color: #283593;
}

#end{
	background-color: #e91e63;
}

body{
    background: linear-gradient(120deg, #283593, #e91e63);
	background-size: 400% 400%;
	-webkit-animation: InstaMagic 30s ease infinite;
	-moz-animation: InstaMagic 30s ease infinite;
	-o-animation: InstaMagic 30s ease infinite;
	animation: InstaMagic 30s ease infinite;
}

a, u {
    text-decoration: none;
}

@-webkit-keyframes InstaMagic {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes InstaMagic {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes InstaMagic {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes InstaMagic {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}