body{
	background-color: #283593;
}

.header{
	text-align: center;
	font-family: arial;
	color: #fff;
	font-size: 50px;
}

.option-container{
	padding: 2% 20%;
}

.singleplayer, .multiplayer{
	height: 100px;
	width: 300px;
	background-color: rgba(255,255,255,0.4);
	margin: 0 auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	cursor: pointer;
}

.singleplayer:hover, .multiplayer:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}	


.singleplayer >h3, .multiplayer > h3{
	text-align: center;
	color: #fff;
	font-family: arial;
	padding: 30px;
	font-size: 25px;
}

body{
  background:#ec6a38;
  -webkit-animation:colour 30s linear infinite;
	-moz-animation:colour 30s linear infinite;
  
}
@-webkit-keyframes colour{
	0%{
		background-color: #ab47bc;
	}
	25%{
		background-color: #5c6bc0;
	}
	50%{
		background-color: #29b6f6; 
	}
	75%{
	    background-color: #5c6bc0;		
	}
	100%{
		background-color: #ab47bc;
	}
	
}

@-moz-keyframes colour{
	

}

a, u {
    text-decoration: none;
}